@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Regular Font */
@font-face {
  font-family: "Jedira-Regular";
  src: url("/fonts/Jedira/Jedira-Regular.eot"); /* For IE */
  src: url("/fonts/Jedira/Jedira-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Jedira/Jedira-Regular.woff2") format("woff2"),
    url("/fonts/Jedira/Jedira-Regular.woff") format("woff"),
    url("/fonts/Jedira/Jedira-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jedira-Regular";
  src: url("/fonts/Jedira/Jedira-Regular.eot"); /* For IE */
  src: url("/fonts/Jedira/Jedira-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Jedira/Jedira-Regular.woff2") format("woff2"),
    url("/fonts/Jedira/Jedira-Regular.woff") format("woff"),
    url("/fonts/Jedira/Jedira-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Italic Font */
@font-face {
  font-family: "Jedira-Italic";
  src: url("/fonts/Jedira/Jedira-Italic.eot"); /* For IE */
  src: url("/fonts/Jedira/Jedira-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Jedira/Jedira-Italic.woff2") format("woff2"),
    url("/fonts/Jedira/Jedira-Italic.woff") format("woff"),
    url("/fonts/Jedira/Jedira-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Juana";
  src: url("/fonts/Juana/Fontspring-DEMO-juana-regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Juana-Light";
  src: url("/fonts/Juana/Fontspring-DEMO-juana-extralight.otf")
    format("opentype");
  font-style: normal;
}

/* Inter Regular */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Inter Italic */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Italic.woff2") format("woff2"),
    url("/fonts/Inter/Inter-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* Inter Bold */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Inter Light */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Light.woff2") format("woff2"),
    url("/fonts/Inter/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Inter SemiBold */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary-color: #829460;
  --secondary_color: #f5f3eb;
  --tertiary_color: #101928;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --primary-gradient: linear-gradient(
    122deg,
    rgb(44, 83, 91) -26.29%,
    rgb(69, 186, 140) 118.11%
  );
}

.animated-button {
  color: var(--white);
  background: linear-gradient(99deg, #000000 30%, #333333 70%, #1a1a1a 100%);
  background-size: 150%;
  transition: background-position 0.8s ease-in-out,
    background-size 0.8s ease-in-out;
}

.font-poppins {
  font-family: var(--font-poppins);
}

/* Apply the animated gradient effect only on hover */
.animated-button:hover {
  background-size: 200%;
  background-position: right center;
}

/* Keep disabled button without the effect */
.animated-button:disabled {
  background: rgb(var(--light-gray));
  color: rgb(var(--dark-gray));
  cursor: not-allowed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary-color);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --light-gray: oklch(0.556 0 0);
}

body {
  font-family: "Inter", sans-serif;
  background: #dde0d4;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --light-gray: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.image-gallery-image {
  width: 548px !important; /* 28 x 4 = 112px */
  height: 669px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem; /* rounded-2xl */
  background-color: #f6f6f6;
  border: 1px solid #e4e7ec;
  overflow: hidden;
}
/* .image-gallery-thumbnail-inner{
  width: 80px; 
  height: 96px;
  object-fit: contain;
} */

.image-gallery-thumbnail-image {
  width: 80px;
  height: 96px;
  /* object-fit: contain; */
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}

/* If using global.css or a CSS module */
.react-player-wrapper > div {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.react-player-wrapper video {
  object-fit: cover !important;
}

#radix-«r4» > button {
  cursor: pointer !important;
}

#radix-«rb» > button {
  cursor: pointer !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media screen and (max-width: 1020px) {
  .image-gallery-image {
    width: 100% !important;
    /* height: auto !important; */
  }
}

button {
  cursor: pointer;
}
